name: Deploy to EC2

on:
    push:
      branches: 
          - production

jobs:
    setup:
        name: Setup project
        runs-on: ubuntu-latest
        steps:
            -
                name: Create project folder, download pretrained model and scaler
                uses: appleboy/ssh-action@master
                with:
                    host: ${{ secrets.VPS_HOST }}
                    username: ${{ secrets.VPS_USERNAME }}
                    key: ${{ secrets.VPS_PRIVATE_KEY }}
                    script: |
                        # Create project folder if not exist
                        mkdir -p "${{ secrets.PROJECT_PATH }}"

                        # Download pretrained model and scaler
                        if [ ! -e "${{ secrets.PROJECT_PATH }}/faster_rcnn_checkpoint.pt" ]; then 
                          curl \
                            -L "https://github.com/lngquoctrung/vehicle-license-plate-recognition/releases/download/v1.0.0/best_faster_rcnn_checkpoints.pt" \
                            -o "${{ secrets.PROJECT_PATH }}/faster_rcnn_checkpoint.pt"
                        fi
    
    build-and-push:
        name: Build and push image to Docker Hub
        runs-on: ubuntu-latest
        needs: setup
        steps:
            -
                name: Checkout code
                uses: actions/checkout@v3
            -
                name: Login to Docker Hub
                uses: docker/login-action@v3
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_PASSWORD }}
            -
                name: Set up QEMU
                uses: docker/setup-qemu-action@v3
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3
            -
                name: Build and push
                uses: docker/build-push-action@v6
                with:
                    push: true
                    tags: ${{ secrets.DOCKERHUB_USERNAME }}/license-plate-detection-system:latest

    deploy:
        name: Deploy to VPS
        runs-on: ubuntu-latest
        needs: build-and-push
        steps:
            - 
                name: Pull image and run container on VPS
                uses: appleboy/ssh-action@master
                with:
                    host: ${{ secrets.VPS_HOST }}
                    username: ${{ secrets.VPS_USERNAME }}
                    key: ${{ secrets.VPS_PRIVATE_KEY }}
                    script: |
                        # Stop and remove old container
                        docker stop license-plate-detection-system 2>/dev/null || true
                        docker rm license-plate-detection-system 2>/dev/null || true

                        # Remove old image
                        docker rmi "${{ secrets.DOCKERHUB_USERNAME }}/license-plate-detection-system:latest" 2>/dev/null || true

                        # Pull latest image
                        docker pull "${{ secrets.DOCKERHUB_USERNAME }}/license-plate-detection-system:latest"

                        docker run \
                            -d \
                            --name license-plate-detection-system \
                            -v "${{ secrets.PROJECT_PATH }}:/app/model" \
                            -p 127.0.0.1:${{ secrets.APP_PORT }}:${{ secrets.APP_PORT }} \
                            --restart unless-stopped \
                            ${{ secrets.DOCKERHUB_USERNAME }}/license-plate-detection-system:latest
